

.right-wrapper>.ant-tabs{
  height: 100%;
  background: #f4f4f4;

  &>.ant-tabs-bar{
    padding-top: 0!important;
    height: 30px;
    background: white;
    box-shadow:0 1px 3px #ccc;
    z-index: 999;
  }

  &>.ant-tabs-content{
    position: absolute;
    left: 10px;
    bottom: 10px;
    top:40px;
    right:10px;
    background: #f4f4f4;
    margin-left: auto !important;
  }

  &.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
    border-radius: 0;
    border: 0;
    background: white;
  }
  .ant-tabs-nav .ant-tabs-tab{
    height: 29px;
  }
  &.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active{
    border-bottom: solid 2px @main-color;
  }

  &:not(.ant-tabs-vertical) > .ant-tabs-content{
    width: auto;
  }
}

.ant-input-lg{
  padding-top: 2px;
  padding-bottom: 2px;
  width: 140px;
  height: 28px;
}
.ant-tabs-bar{
  margin-bottom: 0;
}

.ant-form-item-label>label{
  height: 28px;
  color: #666;
}
.ant-select-lg .ant-select-selection--single{
  height: 28px;
}
.ant-select-selection{
  min-width: 120px;
}

.ant-btn-lg{
  height: 28px;
  padding: 0 8px;
  font-size: 12px!important;
}

.ant-btn-primary{
  background: @btn-submit-color;
}