
@import "variables.less";
//@import "~antd/dist/antd.less";


body {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  letter-spacing: 1px;
}

* {
  font-size: 13px;
  font-family: "Segoe UI",Arial,sans-serif,'微软雅黑';
}

input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  letter-spacing: 1px;
  &:hover {
    color: red;
  }
}

ul {
  padding-left: 20px;
}

input, select, button {

  &:focus {
    outline: none;
  }
}

.flex {
  display: flex!important;
}

//垂直居中
.flex-vm{
  .flex;
  align-items: center!important;
}
//水平居中
.flex-hm{
  .flex;
  justify-content: center !important;
}

.flex-hvm{
  .flex-hm;
  .flex-vm;
}

.full-screen{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right:0;
}

.flex-between-row {
  justify-content: space-between;
  flex-direction: row;
}

.flex-center{
  flex-direction: column;
  align-items: center;
}

.login-bg{
  background: url(../images/login-bg.jpg) center center no-repeat;
}

.login-form{
  max-width: 340px;
  background: rgba(222,222,2222,22);
  padding: 20px;
  border-radius: 5px;
  opacity:0.8;

  &:hover{
    opacity: 0.95;
  }
  
  .login-form-forgot {
    float: right;
  }
   .login-form-button {
    width: 100%;
  }
}

.header {
  width: 100%;

  .notice-bar{
    color:red;
    height:@notice-height;
    display: none;
  }

  .header-wrapper{
    box-sizing: content-box;
    height: @header-height;
    background: @main-color;

     span{
       font-size: 18px;
       font-weight: bold;
       color: whitesmoke;
       vertical-align: middle;
     }
  }

  ul {
    height: 100%;
    margin-right: 30px;


    li{
      height: 52px;
      width: 52px;
      padding: 0;
      margin-right: 10px;
      border-radius: 5px;

      &:hover{
        background: rgba(0, 0, 0, 0.25);
      }
    }

    a {
      color: white;
      font-size: 11px;
      text-decoration:none;

      &:hover{
        text-decoration:none;
        i::before{
          font-size: 20px;
        }
      }


      i{
        margin-bottom: 4px;
        &::before{
          font-size: 18px;
        }
      }
    }
  }
}


.left-wrapper{
  width: @left-width;
  position: absolute;
  top:@header-height;
  bottom: @footer-height;
  left: 0;
  background: @back-color;
}

.right-wrapper{
  position: absolute;
  top:@header-height;
  bottom: @footer-height;
  left: @left-width;
  right:0;
  //background: green;
}

.footer{
  width: 100%;
  height: @footer-height;
  position: absolute;
  bottom: 0;
  background: @main-color;
  color: white;
  font-size: 11px;
}


