
@main-color:#0089d1;

@back-color:#f8f8f8;

@window-bar:#E8960C;

@btn-submit-color:@main-color;

@btn-cancel-color:white;


@notice-height:20px;
@header-height:64px;
@left-width:240px;

@footer-height:24px;
