
@main-color:#039cfd;

@back-color:#f8f8f8;

@window-bar:#E8960C;

@btn-submit-color:@main-color;

@btn-cancel-color:white;

@notice-height:20px;
@header-height:46px;
@left-width:240px;

@border-color:rgb(221, 221, 221);